extends ../templatePages

block variables
	- var title = '3D-Развал-схождение - Автосервис в Керчи'

block titles
	| 3D-Развал-схождение
block mainTitle
	| 3D-Развал-схождение в Керчи
block mainDesc
	.amenities__container
		.mini-content
			img.mini-content__img(src="assets/img/3d2.jpg" srcset="assets/img/mobile/3d2-min.jpg 300w")
			p.mini-content__p
				| Правильное название этого сленг-обозначения – «регулировка подвески». С помощью референт мишеней и WI-FI камер, установленных на колесах, специалист видит отклонение от нормативов углов установки автомобильных колес. После процедуры диагностики проводится регулировка для приведения в соответствие с нормативами производителя авто углов установки колес.
			p.mini-content__p
				b Занимает время: #{" "}
				| 20-40 мин
			p.mini-content__p
				b Типы подвески: #{" "}
				| все легковые
			p.mini-content__p
				b Стоимость услуги: #{" "}
				| от 800
			p.mini-content__p
				b Рекомендации: #{" "}
				| Перед проведением 3D-Развал-схождения в Керчи желательно иметь переобутую по сезону и балансированную резину. Так же, если ходовая часть авто находиться в неисправном состоянии, регулировка установки колес не имеет смысла.
			p.mini-content__p
				b Результат: #{" "}
				|  Улучшается управление автомобилем и равномерно расходуется протектор на резине.
