extends ../templatePages

block variables
	- var title = 'Услуги автосервиса - Техник автосервис'

block titles
	| Услуги
block mainTitle
	| Услуги нашего автосервиса
block mainDesc
	.amenities__container
		.mini-content
		ul.amenities__list
			- for (var i = 0; i < amen.length; i++)
				li.amenities__item
					a(href=`${amen[i].link}`).amenities__item__link
						.amenities__img
							img(src=`${amen[i].src}`)
						.amenities__top
						.amenities__dop
							.amenities__item__title= amen[i].title
							.amenities__item__desc= amen[i].desc
							.button.amenities__button= button.order.about