extends ../templatePages

block variables
	- var title = 'Услуги - Автосервис в Керчи'

block titles
	| Услуги
block mainTitle
	| Услуги нашего автосервиса
block mainDesc
	.amenities__container
		.mini-content
			img.mini-content__img(src="assets/img/1-min.jpg")
			p.mini-content__p
				| Со временем любое авто подвергается коррозии, показывается ржавчина. К сожалению, не редкость сейчас и ДТП, нарушающие геометрию кузова. Только качественное устранение данных факторов сможет обеспечить долговечность эксплуатации вашей машины.
		h2.amenities__title Все услуги "СТО Техник"
		ul.amenities__list
			- for (var i = 0; i < amen.length; i++)
				li.amenities__item
					a(href=`${amen[i].link}`).amenities__item__link
						.amenities__img
							img(src=`${amen[i].src}`)
						.amenities__top
						.amenities__dop
							.amenities__item__title= amen[i].title
							.amenities__item__desc= amen[i].desc
							.button.amenities__button= button.order.about